.ui.segment{
    width: 50%;
}

.input-container{
    width: 40%;
    padding: 0 1em;
}

.input-inline-container{
    width: 60%;
    margin: 0 2em;
}

.ui.floating.label {
    left: 0 !important;
    right: 100% !important;
}

.ui.piled.segment, .ui.piled.segments {
    margin: 1em 0 !important;
}

.add-btn{
    padding: 0 1em !important;
}

::-webkit-scrollbar {
    width: .4em;
  }
  ::-webkit-scrollbar-track {
    background: #F0F0F0;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

